 <! –– Set the title of the Page -->
@{
    ViewData["Title"] = "About Us Page";
}

<body style="background-color: #F5E8DD;">
    <div>

        <h1 style="text-align: center; color: #F57D1F; font-size: 72px; font-family: Verdana"><strong>About Us</h1></strong>
        <hr />
        <p>Welcome to KhumaloCraft Emporium, where craftsmanship meets creativity, and artisans find their global stage.</p>
        <p>At KhumaloCraft, we believe in the power of handcrafted treasures to tell stories, evoke emotions, and transcend boundaries. Founded by visionary entrepreneur James Khumalo, our mission is simple yet profound: to create a vibrant e-commerce platform that celebrates the artistry of skilled artisans from every corner of the globe.</p>
        <p> Driven by a passion for authenticity and quality, we curate a diverse collection of handcrafted products, ranging from intricately woven textiles to exquisitely carved wooden sculptures. Each piece in our emporium is a labor of love, reflecting the rich cultural heritage and unique craftsmanship of its creator.</p>
        <p>But KhumaloCraft is more than just a marketplace. It's a community—a place where artisans and admirers come together to share their stories, exchange ideas, and forge meaningful connections. We believe in fostering sustainable partnerships and empowering artisans to thrive in an increasingly digital world.</p>
        <p> Join us on our journey as we celebrate the beauty of handmade creations and strive to make a positive impact on the lives of artisans worldwide. Together, let's weave a tapestry of tradition, innovation, and creativity that transcends borders and inspires generations to come. Welcome to KhumaloCraft Emporium, where every purchase tells a story and every artisan finds a home.</p>
    </div>
</body>
