@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <! –– Set the background image of the page. The background image should cover the entire page without repeating. -->
    <! -- CODE ATTRIBUTION -->
    <! -- W3schools (n.d.) How TO - Full Page Image [Source Code]. https://www.w3schools.com/howto/howto_css_full_page.asphttps://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-8.0&tabs=visual-studio -->
    <body style="background-image: url('/images/wallpaper.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="text-center" style="margin-top: 300px;">
            <h1><strong>Khumalo Craft Emporium</strong></h1>
            <p><strong>A global e-commerce platform to showcase proudly <br />South African handcrafted products</strong></p>
        </div>
    </body>
</div>