@{
    ViewData["Title"] = "Successful Process";
}

<h2>Processed!</h2>
<div class="alert alert-success">
    The client's order has been processed successfully!
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Return to all Orders</a>
</div>
