@model Part2.Models.Order

<h2>Process Order</h2>
<hr />
<div class="text-center">
    <h3>@Model.OrderId</h3>
    
    <form asp-action="" asp-route-id="@Model.OrderId">
        <button type="submit" class="btn btn-success">Process Order</button>
    </form>
</div>

<a asp-action="Index">Cancel</a>
